
{% extends 'layout.html' %}
{% load static %}
{% block content %}
 <!-- Banner Area -->
 <section id="banner_one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner_text_one">
                    <h1 class="wow flipInX" data-wow-duration="3.0s" data-wow-delay=".3s">Get your <span
                            class="wow flipInX" data-wow-duration="2.0s" data-wow-delay=".5s">subscription</span></h1>
                    <h3>Amazing deals</h3>
                    <a href="shop-3.html" class="theme-btn-one bg-black btn_md">Buy Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero_img">
                    <img src="{% static 'assets/img/common/man.png' %}" alt="img" class="wow slideInRight" data-wow-duration="3.0s"
                        data-wow-delay=".3s">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}